<html>
<head>
  <title>Contact us</title>
</head>
<body>
  <div class="container">
  <form>
    <label for="fname">Prénom</label>
    <input type="text" id="fname" name="firstname" placeholder="Votre prénom..">

    <label for="lname">Nom</label>
    <input type="text" id="lname" name="lastname" placeholder="Votre nom..">

    <label for="country">Pays</label>
    <select id="country" name="country">
      <option value="france">France</option>
      <option value="canada">Canada</option>
      <option value="usa">États-Unis</option>
    </select>

    <label for="subject">Subject</label>
    <textarea id="subject" name="subject" placeholder="Write something.." style="height:200px"></textarea>

    <input type="submit" value="Submit">
  </form>
</div>
</body>
</html>
